<section>
  <h1 class="text-main fs-2">Payment-Info</h1>
  <form [formGroup]="shippingAddress">
    <div class="mb-3">
      <label for="details">details</label>
      <input formControlName="details" type="text" class="form-control mb-1 p-2"/>
      @if (shippingAddress.get('details')?.errors && shippingAddress.get('details')?.touched) {
        <div class="alert alert-danger">
          @if (shippingAddress.get('details')?.getError('required')) {
            <p >address is required</p>
          }
          @if (shippingAddress.get('details')?.getError('maxlength')?.touched) {
            <p>address is maxlenght </p>
          }
        </div>
      }
    </div>

    <div class="mb-3">
      <label for="phone">phone</label>
      <input formControlName="phone" type="text" class="form-control mb-1  p-2"/>
      @if (shippingAddress.get('phone')?.errors && shippingAddress.get('phone')?.touched) {
        <div class="alert alert-danger">
          @if (shippingAddress.get('phone')?.getError('required')) {
            <p >phone is required</p>
          }
          @if (shippingAddress.get('phone')?.getError('pattern')) {
            <p>formate of phone is not matched </p>
          }
        </div>
      }
    </div>

    <div class="mb-3">
      <label for="city">city</label>
      <input formControlName="city" type="text" class="form-control mb-1  p-2"/>

      @if (shippingAddress.get('city')?.errors && shippingAddress.get('city')?.touched) {
        <div class="alert alert-danger">
          @if (shippingAddress.get('city')?.getError('required')) {
            <p >city is required</p>
          }
          @if (shippingAddress.get('city')?.getError('maxlength')?.touched) {
            <p>city is maxlenght </p>
          }
        </div>
      }
    </div>

    <button (click)="goToPayment(shippingAddress)" type="submit" class="btn bg-main text-white m-auto">submit</button>
  </form>
</section>
